<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Procesamiento De datos</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.js"></script>
</head>
<body>
<h1>CARGUE SU ARCHIVO</h1>
<form action="/upload"
      class="dropzone"
      id="myDropzone"
      th:action="@{/upload}"
      method="post"
      enctype="multipart/form-data">
</form>

<script th:src="@{/configDropZone.js}"> </script>
</body>
</html>
